{% load static %}
 <div class="newstetter text-center pt-4 pb-4 mt-5">
      <h2 class="text-uppercase"><span>subscribe</span> to our newsletter</h2>
      <small>The best B2B news for manufactur and traders</small>
      <div class="input-group col-6 offset-3 mt-4">
        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscribe">
        <div class="input-group-append">
          <span class="input-group-text" id="subscribe">Subscribe</span>
        </div>
      </div>
    </div>

    <footer class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-2">
            <a href="index.html">
              <img src="{% static 'images/footerLogo.png' %}" alt="">
            </a>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">About Us</li>
              <li><a href="about-us.html">XXX Mart</a></li>
              <li><a href="management.html">Management Team</a></li>
              <li><a href="media-center.html">Media Center</a></li>
              <li><a href="workWithUs.html">Work With Us</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">Customer Services</li>
              <li><a href="help.html">Help Center</a></li>
              <li><a href="privacy-policy.html">privacy policy</a></li>
              <li><a href="trading-policy.html">Trading policy</a></li>
              <li><a href="term-condition.html">terms & conditons</a></li>
              <li><a href="seller/user.html">edit Profile</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">E-Trade Service</li>
              <li><a href="certificate.html">XXXXXXXXX Certificate</a></li>
              <li><a href="{% url 'dashboard:seller_company' %}">E-Shoppe Development</a></li>
              <li><a href="media-center.html">Media Center</a></li>
              <li><a href="advertise.html">Adverties Your Brand</a></li>
              <!-- <li><a href="#">Transact To Trade</a></li> -->
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">Follow us</li>
              <li>
                <a href=""><img src="{% static 'images/fb.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/tw.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/lindin.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/youtube.png' %}" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright text-center pt-3 pb-3">
      <p class="mb-3">&#169; 2021 XXXXXXXXXXXX Mart</p>
      <img src="{% static 'images/footerSub.png' %}" alt="">
    </div>