{% load static %}
 <div class="newstetter text-center pt-4 pb-4 mt-5">
      <h2 class="text-uppercase"><span>subscribe</span> to our newsletter</h2>
      <small>The best B2B news for manufactur and traders</small>
      <div class="input-group col-6 offset-3 mt-4">
        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscribe">
        <div class="input-group-append">
          <span class="input-group-text" id="subscribe">Subscribe</span>
        </div>
      </div>
    </div>

    <footer class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-2">
            <a href="{% url 'product:home_list' %}">
              <img src="{% static 'images/footerLogo.png' %}" alt="">
            </a>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">About Us</li>
              <li><a href="{% url 'about_us' %}">XXX Mart</a></li>
              <li><a href="{% url 'about_management' %}">Management Team</a></li>
              <li><a href="{% url 'about_media_center' %}">Media Center</a></li>
              <li><a href="{% url 'about_work_with_us' %}">Work With Us</a></li>
              <li><a href="{% url 'about_contact_us' %}">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">Customer Services</li>
              <li><a href="{% url 'help_center' %}">Help Center</a></li>
              <li><a href="{% url 'privacy_policy' %}">privacy policy</a></li>
              <li><a href="{% url 'trading_policy' %}">Trading policy</a></li>
              <li><a href="{% url 'term_condition' %}">terms & conditons</a></li>
              <!-- <li><a href="{% url 'edit_profile' %}">edit Profile</a></li> -->
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">E-Trade Service</li>
              <li><a href="{% url 'certificate' %}">XXXXXXXXX Certificate</a></li>
              {% comment %}<li><a href="{% url 'dashboard:seller_company' %}">E-Shoppe Development</a></li>{% endcomment %}
              <li><a href="{% url 'media_center' %}">Media Center</a></li>
              <li><a href="{% url 'advertise' %}">Adverties Your Brand</a></li>
              <!-- <li><a href="#">Transact To Trade</a></li> -->
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">Follow us</li>
              <li>
                <a href=""><img src="{% static 'images/fb.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/tw.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/lindin.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/youtube.png' %}" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright text-center pt-3 pb-3">
      <p class="mb-3">&#169; 2021 XXXXXXXXXXXX Mart</p>
      <img src="{% static 'images/footerSub.png' %}" alt="">
    </div>