        {% extends 'dashboard/seller/seller_base.html' %}
        {% load static %}
        {% block content %}
        <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
                color:red;
                font-style:italic;
            }
            .bmd-form-group label {
                color: red;
            }   
        </style>
        <!---->
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="javascript:;">Company Profile</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                    <a class="dropdown-item" href="#">Another Notification</a>
                                    <a class="dropdown-item" href="#">Another One</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Company Details</h4>
                                    <p class="card-category">Complete your Company Details</p>
                                </div>
                                <div class="card-body">


                                    <form method="POST" id="company" action="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label for="product_name" class="bmd-label-floating">About Seller</label>
                                                    {{form.about_seller}}
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                <label class="bmd-label-floating" >No. of employees</label>
                                                    {{form.no_of_employees}}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label for="product_name" class="bmd-label-floating">Legal status of firm</label>
                                                    {{form.legal_status_of_firm}}
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                               
                                                <label class="bmd-label-floating" >Catalogue</label>
                                                    {{form.catalogue}}
                                             
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label for="product_name" class="bmd-label-floating">Branded video</label>
                                                    {{form.branded_video}}
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                
                                                <label class="bmd-label-floating" >Logo</label>
                                                    {{form.logo}}
                                                <div style="color:red">
                                                 Image dimension must be 180x200**
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                
                                                <label class="bmd-label-floating" >Banner image</label>
                                                    {{form.banner_image}}
                                                
                                            </div>
                                        </div>
                                        
                                
                                    <input class="btn btn-primary" type="submit" name="Update Information">
                                    </form>



                                <!---    <form action="." method="post" id="satutory_form" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <form>
                                            <div class="mb-3">
                                              <label for="about_seller" class="form-label">About seller</label>
                                              <input type="text" class="form-control" id="about_seller" name="about_seller" value="{{ seller_company.about_seller }}">
                                            </div>
                                            <div class="mb-3">
                                              <label for="noofemployees" class="form-label">No Of Employees</label>
                                              <input type="text" class="form-control" id="noofemployees" name="no_of_employees" value="{{ seller_company.no_of_employees }}">
                                            </div>

                                            <div class="mb-3">
                                              <label for="legal_status_of_firm" class="form-label">Legal Status Of Firm</label>
                                              <input type="text" class="form-control" id="legal_status_of_firm" name="legal_status_of_firm" value="{{seller_company.legal_status_of_firm}}">
                                            </div>

                                            <div class="mb-3">
                                                <label for="catalogue" class="form-label">Catalogue</label>
                                                <input type="file" class="form-control" id="catalogue" name="catalogue" value="{{seller_company.catalogue.url}}">
                                              </div>

                                            <div class="mb-3">
                                                <label for="branded_video" class="form-label">Video Link</label>
                                                <input type="url" class="form-control" id="branded_video" name="branded_video" value="{{seller_company.branded_video }}">
                                              </div>

                                            <div class="mb-3">
                                                <div class="custom-file">
                                                  <input type="file" class="custom-file-input" name="logo" value="" id="inputGroupFile02">
                                                  <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02"><p class="text-left">logo</p></label>
                                                </div>
                                              </div>

                                              <div class="mb-3">
                                                <div class="custom-file">
                                                  <input type="file" class="custom-file-input" name="banner_image" value=""  id="inputGroupFile02">
                                                  <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02"><p class="text-left">Banner Image</p></label>
                                                </div>
                                              </div> -->

                                            
                                        <!-- <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Annual Turnover</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="type">B2BMart Catalog URl <sup class="text-danger">*</sup></label>
                                                    <a href="#">https://www.b2bMart.com/art-craft/</a>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Landmark</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Locality</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">City</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">State</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Country</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Pincode</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">GSTIN</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Company Website</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Mobile Number</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Alernative Mobile Number</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Email Id</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Alernative Email Id</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Landline No.</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Alternative Landline No</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Company Card</label>
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating"> Front View</label>
                                                        <form action="#">
                                                            <input type="file" id="myFile" name="filename">
                                                            <input type="submit">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Company Card</label>
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating"> Back View</label>
                                                        <form action="#">
                                                            <input type="file" id="myFile" name="filename">
                                                            <input type="submit">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                   <!---     <input type="submit" class="btn btn-primary pull-right"value="Save">
                                        <div class="clearfix"></div>
                                    </form>-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <center>{{form.as_p}}</center> -->
    {% endblock content %}
        