{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}
<div class="container py-5 my-5">
      <div class="row justify-content-center">
        <div class="text-center pb-4">
          <h5 class=" pb-5">Please verify your account by conforming</h5>
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                    <button class="btn btn-secondary pb-2" type="submit">{% trans 'Confirm' %}</button>
              </form>
        </div>
      </div>
    </div>
{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}


{% endblock %}
