<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- CSS -->
    <link rel="stylesheet" href="./css/app.css">

    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="./images/logo.png" alt="">
                <span class="ml-5">| Tag Line</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto w-33">
                    <li class="nav-item">
                        <a class="nav-link" href="certificate.html"><span class="critificate-bg">Apply For Unique xxxxxxxxx Certification</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="company.html">Seller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="buyer/dashboard.html">Buyer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto right">
                    <li class="nav-item login">
                        <a class="nav-link" href="#">
                            <img src="./images/login.png" alt="">
                            <span>Log in New User</span>
                        </a>
                    </li>
                    <li class="nav-item track-order">
                        <a class="nav-link" href="#">
                            <img src="./images/trackorder.png" alt="">
                            <span>Track Order</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cart" href="#">
                            <img src="./images/cart.png" alt="">
                            <span>My Cart</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-0" href="advertise.html">
                <img src="./images/advertizment.png" alt="">
                <span>Advertizment with us</span>
              </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-banner">
        <h1 class="display-5">Advertise Your Brand</h1>
    </div>
    <div class="container">
        <h3>Advertise with XxxxxxMart</h3>
        <p class="lead">Whether you are a large organisation, small business or a marketing agency, XxxxxxMart offers you a host of services for boosting your reach and connecting you with millions of buyers. We offer effective lead generation model and ROI driven marketing
            strategy.
        </p>
        <div class="page-cta">
            Trial For Free | Monthly Paid | Yearly Services
        </div>

        <img src="https://image.shutterstock.com/image-vector/setting-icon-vector-gear-cog-260nw-1211635549.jpg" alt="knowlege">
        <h3>If you&#8217;re a Big Business</h3>

        <p>1000+ large corporates have started their digital transformation journey and are promoting themselves online to grow their business through XxxxxxMart.</p>

        <img src="https://www.searchpng.com/wp-content/uploads/2019/02/Message-PNG-Icon.png" alt="knowlege">
        <h3>If you&#8217;re a Small, Medium Business</h3>
        <p>We’ve been the pioneers of taking small businesses online and helping them create their digital presence and making it easier for them to do business. </p>

        <img src="https://i.pinimg.com/originals/d3/fb/e4/d3fbe447d1e9745c6034c77de7fe4817.png" alt="strategy">
        <h3>If you&#8217;re a marketing agency</h3>
        <p>Make the most ROI driven lead generation platform, XxxxxxMart, an integral part of your client pitch.</p>
    </div>
    <div class="newstetter text-center mt-5 pt-4 pb-4">
        <h3 class="text-uppercase"><span>subscribe</span> to our newsletter</h3>
        <small>The best B2B news for manufactur and traders</small>
        <div class="input-group col-6 offset-3 mt-4">
            <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscribe">
            <div class="input-group-append">
                <span class="input-group-text" id="subscribe">Subscribe</span>
            </div>
        </div>
    </div>

    <footer class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-2">
                    <img src="./images/footerLogo.png" alt="">
                </div>
                <div class="col-12 col-sm-6 col-lg-2">
                    <ul>
                        <li class="head">About Us</li>
                        <li><a href="#">XXX Mart</a></li>
                        <li><a href="#">Management Team</a></li>
                        <li><a href="#">Media Center</a></li>
                        <li><a href="#">Work With Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul>
                        <li class="head">Customer Services</li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">Trading policy</a></li>
                        <li><a href="#">terms & conditons</a></li>
                        <li><a href="#">edit Profile</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul>
                        <li class="head">E-Trade Service</li>
                        <li><a href="certificate.html">XXXXXXXXX Certificate</a></li>
                        <li><a href="#">E-Shoppe Development</a></li>
                        <li><a href="#">Media Center</a></li>
                        <li><a href="advertise.html">Adverties Your Brand</a></li>
                        <!-- <li><a href="#">Transact To Trade</a></li> -->
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-2">
                    <ul>
                        <li class="head">Follow us</li>
                        <li>
                            <a href=""><i></i></a>
                            <a href=""><i></i></a>
                            <a href=""><i></i></a>
                            <a href=""><i></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright text-center pt-3 pb-3">
        <p class="mb-3">&#169; 2021 XXXXXXXXXXXX Mart</p>
        <img src="./images/footerSub.png" alt="">
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
</body>

</html>