<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- CSS -->
    <link rel="stylesheet" href="./css/app.css">

    <title>Category</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="./images/logo.png" alt="">
          <span class="ml-5">| Tag Line</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto w-33">
            <li class="nav-item">
              <a class="nav-link" href="certificate.html"><span class="critificate-bg">Apply For Unique xxxxxxxxx Certification</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="seller/dashboard.html">Seller</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="buyer/dashboard.html">Buyer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="help.html">Help</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto right">
            <li class="nav-item login">
              <a class="nav-link" href="login.html">
                <img src="./images/login.png" alt="">
                <span>Log in New User</span>
              </a>
            </li>
            <li class="nav-item track-order">
              <a class="nav-link" href="ordertrack.html">
                <img src="./images/trackorder.png" alt="">
                <span>Track Order</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cart" href="cart.html">
                <img src="./images/cart.png" alt="">
                <span>My Cart</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-0" href="advertise.html">
                <img src="./images/advertizment.png" alt="">
                <span>Advertizment with us</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      
      <div class="row mt-3">
        <div class="col-12">
          <!-- banner part start -->
          <div class="banner company">
            <div class="logo">logo</div>
            <h3 class="name">COMPANY NAME</h3>
            <p class="detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, unde.</p>
          </div>
        </div>
      </div>
      <!-- banner part end -->

      <!-- Recommended Products part start -->
      <div class="product-list mt-3">
        <h3>FEATURED PRODUCTS</h3>
        <div class="row">
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-1.jpeg" alt="Image 1">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-2.png" alt="Image 2">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-3.jpg" alt="Image 3">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-4.png" alt="Image 4">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-4.png" alt="Image 4">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
        </div>
        <!-- Row end -->
        <div class="text-right">
          <small>featuring trusted brands near you</small>
        </div>
      </div>
      <!-- Recommended Products part end -->

      <div class="row mt-5">
        <div class="col-12 col-md-6">
          <h3>ABOUT US</h3><hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quae minima dolorem qui doloremque similique tenetur quas nobis nisi iure, illum, sequi consectetur? Incidunt dolorem itaque inventore suscipit reprehenderit natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nisi sed temporibus vel tempore qui odit accusamus facilis amet doloremque eius dignissimos, modi excepturi perferendis magni id quibusdam nihil quae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt sint dignissimos tempora possimus, nemo porro modi soluta error tempore repellendus. Dicta praesentium est eligendi animi, quisquam perspiciatis facilis voluptatibus deleniti.</p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-default">Download E-catalogue</button>
            <button class="btn btn-primary">+ Raed More</button>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <h3>BRAND VIDEO</h3>
          <!-- Promotional vedio start -->
          <div class="promo-video height">
            <span>Play our promotional video here</span>
            <i class="fas fa-play"></i>
            <span>Make an impression with</span>
          </div>
          <!-- Promotional vedio end -->
        </div>
      </div>

      <div class="company-info mt-5">
        <div class="company-info-detail">
          <p>Nature of Business</p>
          <div class="image"></div>
          <p>Manufacturer</p>
        </div>
        <div class="company-info-detail">
          <p>No of Emplyees</p>
          <div class="image"></div>
          <p>100 to 200 people</p>
        </div>
        <div class="company-info-detail">
          <p>Year of Establishment1999</p>
          <div class="image"></div>
          <p>Manufacturer</p>
        </div>
        <div class="company-info-detail">
          <p>Legal Status os Firm</p>
          <div class="image"></div>
          <p>Partnership firm</p>
        </div>
        <div class="company-info-detail">
          <p>Annual Revenue</p>
          <div class="image"></div>
          <p>5 cr</p>
        </div>
        <div class="company-info-detail">
          <p>GSTIN NO</p>
          <div class="image"></div>
          <p>AKGHJX254796</p>
        </div>
      </div>

      <!-- Recommended Products part start -->
      <div class="product-list mt-3">
        <h3 class="text-center pt-2 pb-3">OUR PRODUCTS RANGE</h3>
        <div class="row">
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-1.jpeg" alt="Image 1">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-2.png" alt="Image 2">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-3.jpg" alt="Image 3">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-4.png" alt="Image 4">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-4.png" alt="Image 4">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-1.jpeg" alt="Image 1">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-2.png" alt="Image 2">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-3.jpg" alt="Image 3">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-4.png" alt="Image 4">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-4.png" alt="Image 4">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
        </div>
        <!-- Row end -->
        <div class="text-center mt-4 mb-2">
          <button class="btn btn-primary btn-lg">Load More</button>
        </div>
      </div>
      <!-- Recommended Products part end -->

      <div class="row mt-3">
        <div class="col-12 col-sm-3 pt-3">
          <h3>Get in touch</h3>
          <div>Street, 510 Willis Avenue City, Jacksonville, State</div>
          <div>divhone Number 386-524-1622</div>
          <div>Mobile Number -904-382-8500</div>
          <h5>Get our location</h5>
          <h5>Ayush Garg (Sales Manager)</h5>
          <button class="btn mt-3">SEND SMS</button>
          <button class="btn btn-outline-dark mt-3 ml-4">SEND MAIL</button>
        </div>
        <div class="col-12 col-sm-9">
          <!-- register form start -->
          <div class="register-form">
            <h3 class="mb-3">share the details we will call back you</h3>
            <div class="row">
              <div class="col-12 col-sm-8">
                <form>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="email">E-mail</label>
                      <input type="email" class="form-control" id="email" placeholder="shotercarlos@gmail.com">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="phone">Mobile</label>
                      <input type="tel" class="form-control" id="phone" placeholder="+91 0000000000">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="businessType">Business Types</label>
                      <select class="form-control btn-primary" id="businessType">
                        <option>Wholesaller</option>
                        <option>Manufacturer</option>
                        <option>Retailer</option>
                        <option>Exporter</option>
                        <option>Distributor</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="5"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sendCopy">
                        <label class="custom-control-label" for="sendCopy">Send me a copy</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 text-right">
                      <button class="btn btn-primary btn-lg">Send</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-12 col-sm-4">
                <div class="right-side">
                  <div class="top">
                    <span>become a</span>
                    <span>xxxx Mart</span>
                    <span>member today</span>
                    <span>1000 Ad Impressions Free</span>
                  </div>
                  <div class="bottom"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- register form part end -->
        </div>
      </div>
    </div>

    

    <!-- <div class="chat">
      <img src="./images/chat.png" alt="">
      <div class="content">
        <small>Have a Requirement?</small>
        <h3>Get Best Price</h3>
      </div>
    </div> -->

    <div class="newstetter text-center pt-4 pb-4 mt-5">
      <h2 class="text-uppercase"><span>subscribe</span> to our newsletter</h2>
      <small>The best B2B news for manufactur and traders</small>
      <div class="input-group col-6 offset-3 mt-4">
        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscribe">
        <div class="input-group-append">
          <span class="input-group-text" id="subscribe">Subscribe</span>
        </div>
      </div>
    </div>

    <footer class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-2">
            <a href="index.html">
              <img src="./images/footerLogo.png" alt="">
            </a>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">About Us</li>
              <li><a href="about-us.html">XXX Mart</a></li>
              <li><a href="management.html">Management Team</a></li>
              <li><a href="media-center.html">Media Center</a></li>
              <li><a href="workWithUs.html">Work With Us</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">Customer Services</li>
              <li><a href="help.html">Help Center</a></li>
              <li><a href="privacy-policy.html">privacy policy</a></li>
              <li><a href="trading-policy.html">Trading policy</a></li>
              <li><a href="term-condition.html">terms & conditons</a></li>
              <li><a href="seller/user.html">edit Profile</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">E-Trade Service</li>
              <li><a href="certificate.html">XXXXXXXXX Certificate</a></li>
              <li><a href="company.html">E-Shoppe Development</a></li>
              <li><a href="media-center.html">Media Center</a></li>
              <li><a href="advertise.html">Adverties Your Brand</a></li>
              <!-- <li><a href="#">Transact To Trade</a></li> -->
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">Follow us</li>
              <li>
                <a href=""><img src="./images/fb.png" alt=""></a>
                <a href=""><img src="./images/tw.png" alt=""></a>
                <a href=""><img src="./images/lindin.png" alt=""></a>
                <a href=""><img src="./images/youtube.png" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright text-center pt-3 pb-3">
      <p class="mb-3">&#169; 2021 XXXXXXXXXXXX Mart</p>
      <img src="./images/footerSub.png" alt="">
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
  </body>
</html>