{% extends 'base.html' %}
{% block content %}
    <div class="page-banner">
        <h1 class="display-5">Media Center</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-3 bg-primary pl-0 pr-0">
          <ul class="nav flex-column pt-3">
              <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">XXX Mart</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_management' %}">Management Team</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'about_media_center' %}">Media Center</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li> -->
              <li class="nav-item"><a class="nav-link" href="{% url 'certificate' %}">XXXXXXXXX Certificate</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="company.html">E-Shoppe Development</a></li> -->
              <li class="nav-item"><a class="nav-link" href="{% url 'advertise' %}">Adverties Your Brand</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'privacy_policy' %}">privacy policy</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'term_condition' %}">terms & conditons</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="seller/user.html">edit Profile</a></li> -->
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-9">
          <div class="row mb-3">
              <div class="col">
                  <div class="media-block">
                      <div class="media-title">xxxxxxMart .com becomes a recognized Google My Business Partner, aims to help SMEs go digital</div>
                      <div class="media-tab">Posted on <i>22 December, 2020</i></div>
                      <p>New Delhi December 22nd, 2020: xxxxxxMart.com, one of the leading online B2B marketplaces in the country, is now a trusted Google My Business partner. The company can now effectively register local SMEs so that their business listings can be found on Google Search and Maps. As a recognized Google My Business Verifier, xxxxxxMart can now authenticate businesses onsite at their place of business in very little time...</p>
                  </div>
              </div>
              <div class="col">
                  <div class="media-block">
                      <div class="media-title">xxxxxxMart .com becomes a recognized Google My Business Partner</div>
                      <div class="media-tab">Posted on <i>22 December, 2020</i></div>
                      <p>xxxxxxMart.com, one of the leading online B2B marketplaces in the country, is now a trusted Google My Business partner. The company can now effectively register local SMEs so that their business listings can be found on Google Search and Maps...</p>
                  </div>
              </div>
              <div class="col">
                  <div class="media-block">
                      <div class="media-title">xxxxxxMart .com becomes a recognized Google My Business Partner, aims to help SMEs go digital</div>
                      <div class="media-tab">Posted on <i>22 December, 2020</i></div>
                      <p>xxxxxxMart.com, one of the leading online B2B marketplaces in the country, is now a trusted Google My Business partner. The company can now effectively register local SMEs so that their business listings can be found on Google Search and Maps...</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="media-block">
                      <div class="media-title">xxxxxxMart .com becomes a recognized Google My Business Partner, aims to help SMEs go digital</div>
                      <div class="media-tab">Posted on <i>28 November, 2020</i></div>
                      <div class="media-image">
                          <img src="https://indianmarketview.com/wp-content/uploads/news.png" alt="knowlege">
                      </div>
                      <p>New Delhi December 22nd, 2020: xxxxxxMart.com, one of the leading online B2B marketplaces in the country, is now a trusted Google My Business partner. The company can now effectively register local SMEs so that their business listings can be found on Google Search and Maps. As a recognized Google My Business Verifier, xxxxxxMart can now authenticate businesses onsite at their place of business in very little time...</p>
                  </div>
              </div>
              <div class="col">
                  <div class="media-block">
                      <div class="media-title">xxxxxxMart .com becomes a recognized Google My Business Partner, aims to help SMEs go digital</div>
                      <div class="media-tab">Posted on <i>26 November, 2020</i></div>
                      <div class="media-image">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSncBu3A-_1g4rMl5ajikgdyihdVMyKlE7iRg&usqp=CAU" alt="strategy">
                      </div>
                      <p>After the notable success of the pioneering COVID-19 Essentials Expo India, the Packaging Expo and other business conventions of vital importance, xxxxxxMart, India's leading B2B marketplace is slated to organize yet another landmark virtual business
                          congregation.</p>
                  </div>
              </div>
              <div class="col">
                  <div class="media-block">
                      <div class="media-title">xxxxxxMart .com becomes a recognized Google My Business Partner, aims to help SMEs go digital</div>
                      <div class="media-tab">Posted on <i>22 November, 2020</i></div>
                      <div class="media-image">
                          <img src="https://www.dailynews.com/wp-content/uploads/2017/09/img_3776.jpg" alt="technology">
                      </div>
                      <p>New Delhi December 22nd, 2020: xxxxxxMart.com, one of the leading online B2B marketplaces in the country, is now a trusted Google My Business partner. The company can now effectively register local SMEs so that their business listings can be found on Google Search and Maps. As a recognized Google My Business Verifier, xxxxxxMart can now authenticate businesses onsite at their place of business in very little time...</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}