<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- CSS -->
    <link rel="stylesheet" href="./css/app.css">

    <title>Login</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="./images/logo.png" alt="">
          <span class="ml-5">| Tag Line</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto w-33">
            <li class="nav-item">
              <a class="nav-link" href="certificate.html"><span class="critificate-bg">Apply For Unique xxxxxxxxx Certification</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="seller/dashboard.html">Seller</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="buyer/dashboard.html">Buyer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="help.html">Help</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto right">
            <li class="nav-item login">
              <a class="nav-link" href="login.html">
                <img src="./images/login.png" alt="">
                <span>Log in New User</span>
              </a>
            </li>
            <li class="nav-item track-order">
              <a class="nav-link" href="ordertrack.html">
                <img src="./images/trackorder.png" alt="">
                <span>Track Order</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cart" href="cart.html">
                <img src="./images/cart.png" alt="">
                <span>My Cart</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-0" href="advertise.html">
                <img src="./images/advertizment.png" alt="">
                <span>Advertizment with us</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="login-block">
      <div class="container">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center justify-content-center" style="background-image: url('images/bg-01.jpg ');">
            <h2 style=" color: #fff; padding: 25px; font-weight: 600; font-size: 48px; ">Please give your details to register on XXXX Mart</h2>
            <!-- <div class="d-flex align-items-center justify-content-center">
            </div> -->
              <!-- <h3 class="text-center">Sign in Your Account</h3> -->
              <!-- <form class="login-form">
                <div class="form-group">
                    <input type="tel" class="form-control" id="phone" placeholder="Enter Your Mobile No">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Sign In</button>
                </div>
                <p class="text-center pt-5">
                  <small>New To XXXXX?</small>
                </p>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark btn-block">Create Account</button>
                </div>
              </form> -->
          </div>
          <div class="col-md-8 banner-sec" style="background-image: initial;">
            <form class="login-form p-5">
              <div class="row m-0">
                <div class="form-group col">
                  <label for="firstName">First Name <sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control" id="firstName" name="firstName" placeholder="John">
                </div>
                <div class="form-group col">
                  <label for="lastName">Last Name <sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Doe">
                </div>
              </div>
              <div class="row m-0">
                <div class="form-group col">
                  <label for="email">Email <sup class="text-danger">*</sup></label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="johndoe@mail.com">
                </div>
                <div class="form-group col">
                  <label for="phone">Phone No <sup class="text-danger">*</sup></label>
                  <input type="tel" class="form-control" id="phone" name="phone" placeholder="+91 0000000000">
                </div>
              </div>
              <div class="row m-0">
                <div class="form-group col">
                  <label for="region">Region <sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control" id="region" name="region" placeholder="333-D Street">
                </div>
                <div class="form-group col">
                  <label for="pincode">Pincode No <sup class="text-danger">*</sup></label>
                  <input type="tel" class="form-control" id="pincode" name="pincode" placeholder="201010">
                </div>
              </div>
              <div class="row m-0">
                <div class="form-group col">
                  <label for="companyName">Company Name <sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control" id="companyName" name="companyName" placeholder="XXXX Mart">
                </div>
              </div>
              <div class="row m-0">
                <div class="form-group col">
                  <label for="type">Type <sup class="text-danger">*</sup></label>
                  <select class="form-control" id="type" name="type">
                    <option>Select Option</option>
                    <option>Seller</option>
                    <option>Buyer</option>
                  </select>
                </div>
                <div class="form-group col">
                  <label for="type">Type <sup class="text-danger">*</sup></label>
                  <select class="form-control" id="type" name="type">
                    <option>Select Option</option>
                    <option>Manufacturer</option>
                  </select>
                </div>
              </div>
              <div class="row m-0">
                <div class="form-group col text-right">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
              </div>
              <p class="text-center pt-5">
                <small>Already register login on XXXXX Mart</small>
              </p>
              <div class="row m-0">
                <div class="form-group col-12 col-sm-6 offset-sm-3  text-right">
                  <a href="login.html" type="submit" class="btn btn-outline-dark btn-block">Sign In</a href="login.html">
                  <!-- <button type="submit" class="btn btn-outline-dark btn-block">Sign In</button> -->
                </div>
              </div> 
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="newstetter text-center pt-4 pb-4 mt-5">
      <h2 class="text-uppercase"><span>subscribe</span> to our newsletter</h2>
      <small>The best B2B news for manufactur and traders</small>
      <div class="input-group col-6 offset-3 mt-4">
        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscribe">
        <div class="input-group-append">
          <span class="input-group-text" id="subscribe">Subscribe</span>
        </div>
      </div>
    </div>

    <footer class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-2">
            <a href="index.html">
              <img src="./images/footerLogo.png" alt="">
            </a>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">About Us</li>
              <li><a href="about-us.html">XXX Mart</a></li>
              <li><a href="management.html">Management Team</a></li>
              <li><a href="media-center.html">Media Center</a></li>
              <li><a href="workWithUs.html">Work With Us</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">Customer Services</li>
              <li><a href="help.html">Help Center</a></li>
              <li><a href="privacy-policy.html">privacy policy</a></li>
              <li><a href="trading-policy.html">Trading policy</a></li>
              <li><a href="term-condition.html">terms & conditons</a></li>
              <li><a href="seller/user.html">edit Profile</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">E-Trade Service</li>
              <li><a href="certificate.html">XXXXXXXXX Certificate</a></li>
              <li><a href="company.html">E-Shoppe Development</a></li>
              <li><a href="media-center.html">Media Center</a></li>
              <li><a href="advertise.html">Adverties Your Brand</a></li>
              <!-- <li><a href="#">Transact To Trade</a></li> -->
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">Follow us</li>
              <li>
                <a href=""><img src="./images/fb.png" alt=""></a>
                <a href=""><img src="./images/tw.png" alt=""></a>
                <a href=""><img src="./images/lindin.png" alt=""></a>
                <a href=""><img src="./images/youtube.png" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright text-center pt-3 pb-3">
      <p class="mb-3">&#169; 2021 XXXXXXXXXXXX Mart</p>
      <img src="./images/footerSub.png" alt="">
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
  </body>
</html>