{% extends 'base.html' %}
{% block content %}

    <div class="page-banner">
        <h1 class="display-5">Trading Policy</h1>
    </div>
    <div class="container">
        <h3>Shipping & Delivery Policy</h3>
        <div class="detail">This is another policy that must be clearly stated on website. Include the delivery time frame and any restrictions that merchant might have on delivering the products. List on the website all export restrictions that merchant is aware of for
            the products that are sold online. A company must ship your order within the time stated in its ad or give an option notice to the customers otherwise<br /> <br /> <b>Shipping &amp; Delivery Policy (Products) &ndash;</b> <br /> For International
            buyers, orders are shipped and delivered through registered international courier companies and/or International speed post only. For domestic buyers, orders are shipped through registered domestic courier companies and /or speed post only.
            Orders are shipped within 15 working days or as per the delivery date agreed at the time of order confirmation and delivering of the shipment subject to Courier Company / post office norms. Your Company Name is not liable for any delay in
            delivery by the courier company / postal authorities and only guarantees to hand over the consignment to the courier company or postal authorities within 15 working days from the date of the order and payment or as per the delivery date agreed
            at the time of order confirmation. Delivery of all orders will be to registered address of the buyer as per the credit/debit card only at all times(Unless specified at the time of Order). Your Company Name is in no way responsible for any
            damage to the order while in transit to the buyer. Payments Your Company Name is proud to use Payment Gateway Name for fast, easy and efficient secure payments. All major credit cards are accepted.<br /> <br /> <b>Shipping &amp; Delivery Policy (Services) -</b><br
            /> Delivery of our services will be confirmed on your mail ID as specified during registration. For any issues in utilizing our services you may contact our helpdesk on (contact number)<br /> <br /> <b>How the delivery charge is calculated for multiple units and some products </b><br
            /> The shipping charge is based on the weight of the product. For multiple products ordered from the same category the programme adds up the weight of all the units ordered and charges a single delivery fee.
            <br /> <br /> Thus, a customer who orders three books weighing 200gms, 250gms and 400gms is charged a single delivery fee of a consignment weighing more than 500gms but less than one kg. The customer is not charged for three different consignments
            weighing less than 500gms each. Thus the customer will pay a delivery fee of Rs 85 for ordering the three books as a single order instead of Rs 142 if he orders them separately. <br /> <br /> The weight of the product has been built in into
            the delivery charge of each product. This will automatically be added to the product cost at the payment stage. The delivery cost of a consignment weighing 3 Kg to be shipped within India will be = INR 165. <br /> <br /> The delivery charge
            is arrived at by multiplying the weight of the product with the slab rate. Thus, the delivery cost of a consignment weighing 3 Kg to USA will be (789+(5*213)) = INR 1854.</div>
    </div>
    {% endblock content %}