{% extends 'base.html' %}
{% load static %}
{% block content %}
 
    <div class="container">
      <div class="head mt-4">
        <h5>CATEGORY NAME - RICE COOKER <small>(1500 PRODUCTS AVAILABLE)</small></h5>
      </div>
      <div class="container">
      <div class="row">
        <div class="col-12">
          <ul class="category-menu mb-4"> 
            <li> 
            <i class="fas fa-map-marker-alt pl-3 pr-3"></i>
            </li>
            <li>
            <span class="pr-2">Location</span>
            </li>
            <li>
            <input type="text" class="mr-2" style=" width: 100px; height: 25px; border: 1px solid">
            </li>
            <li>
            <i class="fas fa-compass"></i>
            </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#" style="text-align:center;vertical-align: middle; line-height: 45px;">Near me</a>
          </li>
          <li>
            <a href="#" style="text-align:center;vertical-align: middle; line-height: 45px;">All India</a>
          </li>
          <li>
            <a href="#" style="text-align:center;vertical-align: middle; line-height: 45px;">Andhra Pradesh</a>
          </li>
          <li>
            <a href="#" style="text-align:center;vertical-align: middle; line-height: 45px;">Assam</a>
          </li>
          <li>
            <a href="#" style="text-align:center;vertical-align: middle; line-height: 45px;">Bihar</a>
          </li>
          <li>
            <a href="#" style="text-align:center;vertical-align: middle; line-height: 45px;">Chhattisgarh</a>
          </li>
          <li>
            <a href="#" style="text-align:center;vertical-align: middle; line-height: 45px;">Goa</a>
          </li>
          <li>
            <a href="#" style="text-align:center;vertical-align: middle; line-height: 45px;">Gujarat</a>
          </li>
          <li>
            <a href="#" style="text-align:center;vertical-align: middle; line-height: 45px;">Haryana</a>
          </li>
          <li>
            <a href="#" style="text-align:center;vertical-align: middle; line-height: 45px;">Himachal Pradesh</a>
          </li>
        </ul>
      </div>
      </div>
      </div>

 <div class="row">  
        <div class="col-md-4 col-lg-3">
          <div class="feature">
            <div class="feature__head">
              <h6>SORT BY BRAND</h6>
              <a href="#/" onclick="brand_sow_all()">Show all</a>
            </div>
             <form class="feature__form" id="brand_form">
              <div class="input-group" >
                  <input type="text" class="form-control" id="search_input" placeholder="Search" oninput="search()">
                  <div class="input-group-append">
                  <button   class="btn btn-success" id="success"  ><i class="fa fa-arrow-right" aria-hidden="true"></i></button></div>
              </div>
              <div class="checkboxs" id="append_brand">
             
              </div>
              </form> 
            <button id="sort_brand" class="btn btn-primary btn-block mt-3" >Load More</button>
          </div>

          <div class="feature mt-3">
            <div class="feature__head">
              <h6>SORT BY CATEGORY</h6>
              <a href="#/" onclick="cat_show_all()">Show all</a>
            </div>
            <form class="feature__form"  id="cat_form">
              
                  <div class="input-group" >
                  <input type="text" class="form-control" id="search_input_cat" placeholder="Search" oninput="search_cat()">
                  <div class="input-group-append">
                  <button   class="btn btn-success" id="success_cat"><i class="fa fa-arrow-right" aria-hidden="true"></i></button></div>
              
              </div>
              <div class="checkboxs" id="append_cat">
              
              </div>
              <button id="sort_category" class="btn btn-primary btn-block mt-3" >Load More</button>
          </form>
          </div>

          <!-- Related products promo part strat -->
          <div id="awardCarousel" class="carousel slide award-carousel mt-3" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#awardCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#awardCarousel" data-slide-to="1"></li>
              <!-- <li data-target="#awardCarousel" data-slide-to="2"></li> -->
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'images/tag.png' %}" alt="First slide">
                <div class="carousel-caption award-caption">
                  <p>BEST E-MART SHOPPE AWARD</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/tag.png' %}" alt="Second slide">
                <div class="carousel-caption award-caption">
                  <p>BEST E-MART SHOPPE</p>
                </div>
              </div>
              <!-- <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Third slide">
              </div> -->
            </div>

            <a class="award-prev" href="#awardCarousel" role="button" data-slide="prev">
              <i class="fas fa-angle-left" aria-hidden="true"></i>
              <!-- <span class="award-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span> -->
            </a>
            <a class="award-next" href="#awardCarousel" role="button" data-slide="next">
              <i class="fas fa-angle-right" aria-hidden="true"></i>
              <!-- <span class="award-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span> -->
            </a>
          </div>
          <!-- Related products promo part end -->

          <!-- input slider -->
          <!-- <div class="range-slider">
            <h4>SORT BY PRICE RANGE</h4>
            <form action="">
              <div class="row">
                <div class="col w-25">
                  <input type="number" class="form-control" placeholder="100000">
                </div>
                <div class="col w-25">
                  <input type="number" class="form-control" placeholder="10000000">
                </div>
              </div>
              <div class="slider-input">
                <div data-role="rangeslider">
                  <label for="price-min">Price:</label>
                  <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
                  <label for="price-max">Price:</label>
                  <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                </div>
              </div>
            </form>
          </div> -->
          <!-- input slider -->

          <!-- <div class="ad-big-box mt-3">
            <div class="image">
              <img class="ad-img" src="./images/cooker.jpg" alt="">
              <img class="stipe" src="./images/top-strip.png" alt="">
            </div>
            <div class="content">
              <div class="logo">logo</div>
              <div class="center-text">
                your content should be here
              </div>
              <button class="btn btn-light btn-lg">Click here <i class="fas fa-angle-right"></i></button>
              <div class="link">
                <a href="#">www.website.com</a>
              </div>
            </div>
          </div>

          <div class="ad-small-box">
            <div class="image">
              <img class="ad-img" src="./images/sortBoxImage.png" alt="">
            </div>
            <div class="content">
              <img class="stipe" src="./images/left-strip.png" alt="">
              <div class="center-text">
                your content should be here
              </div>
              <button class="btn btn-light">Click here <i class="fas fa-angle-right"></i></button>
              <div class="link">
                <a href="#">www.website.com</a>
              </div>
            </div>
          </div> -->

        </div>
        <div class="col-md-8 col-lg-9">
          <!-- banner part start -->
          <!-- <div class="banner">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing <br />  dolor sit amet consectetur, adipisicing.</h1>
            <div class="search-location">
              <form class="form-inline">
                <div class="form-group mr-3">
                  <input type="text" class="form-control" id="location" placeholder="Auto Select Location Dehi (set as default)">
                </div>
                <button type="submit" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </form>
              <form class="form-inline">
                <div class="form-group mr-3">
                  <input type="text" class="form-control" id="location" placeholder="Product Type">
                </div>
                <button type="submit" class="btn btn-primary">
                  <i class="fas fa-search"></i> Search
                </button>
              </form>
            </div>
          </div> -->
          <!-- banner part end -->

          <h3>xxxx Mart CATEGORY LEADER</h3>
          <!-- Recommended Products part start -->
         <div class="product-list mt-3">
          <!-- <form class="form-inline mb-3">
            <div class="form-group w-50 mr-3">
              <input type="text" class="form-control w-100" id="location" placeholder="TRUSTED BRANDS | SEARCH BY PRODUCT TYPE">
            </div>
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-search"></i> Search
            </button>
          </form> -->
          
          <div id="carouselExampleControls" class="carousel slide d-flex align-items-center " data-ride="carousel">
            <a class="btn btn-primary mr-2 p-2 d-flex align-items-center" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                {% for i in search_product %}
                {% for j in i %}
                  <div class="col-12 col-sm-4 col-md-3">
                    <div class="product-item">
                        <div class="image">
                          <img src=" http://127.0.0.1:8000/media/{{j.image1}}" alt="Image 1">
                        </div>
                        <div class="name">{{j.name}}</div>
                        <div class="type">{{j.brand}}</div>
                        <a href="{% url 'dashboard:seller_product_detail' j.pk %}" class="btn btn-primary btn-block">Read More</a>
                    </div>
                  </div>
                  {% endfor %}
                   {% endfor %}
                </div>
              </div>
              
            </div>
            <a class="btn btn-primary ml-2 p-2 d-flex align-items-center" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!-- Row end -->
          <!-- <div class="text-right">
            <small>featuring trusted brands near you</small>
          </div> -->
        </div>
          <!-- Recommended Products part end -->

          <!-- Product detail part start -->
        {% for i in search_product %}
            {% for j in i %}
      <div class="product mt-3">
        <div class="row no-gutters">
          <div class="col border">
            <div class="image">
              <img src="http://127.0.0.1:8000/media/{{j.image1}}"alt="">
              <div class="img-caption">{{j.name}}</div>
            </div>
          </div>
          <div class="col position-relative">
            <div class="product-detail">
              <div class="title">{{j.brand}}</div>
              <div class="mb-3">{{j.product_group}}</div>
              <div class="price">MRP: Rs {{j.price}}</div>
              <div class="text">(Inclusive of all taxes)</div>
            </div>
          </div>
          <div class="col background">
            <img src="{% static 'images/tag.png' %}" alt="">
            <div class="address">
              <div class="name">{{j.brand}}</div>
              <div class="address-detail">81/1, Harohalli Indrustrial Area, Kanakapura Taluk, Ramanagara, Bangalore, Karnataka 562112, India</div>
            </div>
            <button class="btn btn-default"><i class="fas fa-cart"></i> Request a quote for Bulk Order</button>
          </div>
        </div>
        <div class="row no-gutters mt-2">
          <div class="col-4"><img src="{% static 'images/4-star.png' %}" alt=""></div>
          <div class="col-8 d-flex justify-content-between pl-3">
            <button class="btn btn-primary">Add to cart</button>
            <button class="btn btn-primary">Buy Now</button>
            <button class="btn btn-primary">Chat Now</button>
            <button class="btn btn-primary">Compare</button>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
      <!-- Product detail part end -->

          <!-- register form start -->
          <div class="register-form mt-3">
            <h5 class="text-uppercase mb-3">we connect manufacturers with wholesale traders & institutions</h5>
            <div class="row">
              <div class="col-12 col-sm-8">
                <form>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="email">E-mail</label>
                      <input type="email" class="form-control" id="email" placeholder="shotercarlos@gmail.com">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="phone">Mobile</label>
                      <input type="tel" class="form-control" id="phone" placeholder="+91 0000000000">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="businessType">Business Types</label>
                      <select class="form-control btn-primary" id="businessType">
                        <option>Wholesaller</option>
                        <option>Manufacturer</option>
                        <option>Retailer</option>
                        <option>Exporter</option>
                        <option>Distributor</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="5"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sendCopy">
                        <label class="custom-control-label" for="sendCopy">Send me a copy</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 text-right">
                      <button class="btn btn-primary btn-lg">Send</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-12 col-sm-4">
                <div class="right-side">
                  <div class="top">
                    <span>become a</span>
                    <span>xxxx Mart</span>
                    <span>member today</span>
                    <span>1000 Ad Impressions Free</span>
                  </div>
                  <div class="bottom"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- register form part end -->

          <!-- Recommended Products part start -->
          <!-- <div class="product-list mt-3">
            <form class="form-inline mb-3">
              <div class="form-group w-75  mr-3">
                <input type="text" class="form-control w-100" id="location" placeholder="MANUFACTURERS OFFERING CUSTOMIZED SOLUTIONS">
              </div>
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i> Search
              </button>
            </form>
            <div class="row">
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-1.jpeg" alt="Image 1">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-2.png" alt="Image 2">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-3.jpg" alt="Image 3">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-4.png" alt="Image 4">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            </div> -->
            <!-- Row end -->
            <!-- <div class="text-center mt-4 mb-2">
              <button class="btn btn-primary btn-lg">Load More</button>
            </div>
          </div> -->
          <!-- Recommended Products part end -->

          <!-- Recommended Products part start -->
          <!-- <div class="recommended-product">
            <div class="head">Recommended Products</div>
            <div class="searched-link">
              <a href="">Search 1</a>
              <a href="">Search 2</a>
              <a href="">Search 3</a>
              <a href="">Search 4</a>
              <a href="">Search 5</a>
            </div>
            <div class="fas fa-ellipsis-h ml-auto"></div>
            <div class="tag">refresh your search</div>
          </div> -->
          <!-- Recommended Products part end -->
        </div>
      </div>
      <!-- Recommended Products part start -->
      <div class="product-list mt-3 mb-3">
        <h5>THIS WEEK TOP FOUR EDITORS CHOISE</h5>
        <!-- <form class="form-inline mb-3">
          <div class="form-group w-50 mr-3">
            <input type="text" class="form-control w-100" id="location" placeholder="">
          </div>
        </form> -->
        <div class="row">
          {% for obj in product %}
          <div class="col-12 col-sm-4 col-md-3">
            <div class="product-item">
                <div class="image">
                  <img src="{% static 'images/product/img-1.jpeg' %}" alt="Image 1">
                </div>
                <div class="name">{{ obj.name }}</div>
                <div class="type">{{ obj.product_group }}</div>
                <a href="{% url 'dashboard:seller_product_detail' obj.pk %}" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          {% endfor %} 
        </div>
        <!-- <div class="row mt-4 mb-2">
          <div class="col-sm-6 offset-sm-3">
            <button class="btn btn-primary btn-lg btn-block">Know more about Editors Choisce</button>
          </div>
        </div> -->
        <!-- Row end -->
        <div class="text-right">
          <small>featuring trusted brands near you</small>
        </div>
      </div>
      
      <!-- Promotional vedio start -->
      <div class="promo-video height">
        <span>Play our promotional video here</span>
        <i class="fas fa-play"></i>
        <span>Make an impression with your customers</span>
      </div>
      <!-- Promotional vedio end -->
      
      <!-- term-cta start -->
      <div class="term-cta">
        <h1><span>30 day credit terms*30 day credit terms*</span> <br /> for wholesaller & institution</h1>
        <button class="btn btn-light btn-lg">Click here <i class="fas fa-angle-right"></i></button>
        <img src="{% static 'images/creadit.png' %}" alt="">
      </div>
      <!-- term-cta end -->

      <!-- Related products promo part strat -->
      <h3 class="text-uppercase mt-3">Related products</h3>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'images/promo-img-1.png' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/promo-img-1.png' %}" alt="Second slide">
          </div>
          <!-- <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </div> -->
        </div>
      </div>
      <!-- Related products promo part end -->

      <!-- Recommended Products part start -->
     <!-- <div class="product-list">
      <form class="form-inline mb-3">
        <div class="form-group w-50 mr-3">
          <input type="text" class="form-control w-100" id="location" placeholder="CATEGORY LEADERS | SEARCH BY PRODUCT TYPE">
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </form>
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-1.jpeg" alt="Image 1">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-2.png" alt="Image 2">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-3.jpg" alt="Image 3">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
      </div>
      <-- Row end ->
     </div> -->
      <!-- Recommended Products part end -->

      <!-- Recommended Products part start -->
     <div class="product-list mt-3">
      <!-- <form class="form-inline mb-3">
        <div class="form-group w-50 mr-3">
          <input type="text" class="form-control w-100" id="location" placeholder="FAETURED PRODUCT | SEARCH BY PRODUCT TYPE">
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </form> -->
      <h5>FAETURED PRODUCT</h5>
      <div class="row">
        {% for obj in product1  %}
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="{{ obj.image1.url }}" alt="Image 4">
              </div>
              <div class="name">{{ obj.name }}</div>
              <div class="type">{{ obj.product_group }}</div>
              <a href="{% url 'dashboard:seller_product_detail' obj.pk %}" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Row end -->
      <div class="text-center mt-4 mb-2">
        <button class="btn btn-primary btn-lg">Load More</button>
      </div>
     </div>
      <!-- Recommended Products part end -->
      
      <!-- CTA start -->
      <div class="certificate-cta mt-3">
        <div class="row no-gutters align-items-center">
          <div class="col-12 col-sm-2 text-center">
            <img src="./images/tag.png" alt="">
          </div>
          <div class="col-12 col-sm-7">
            <h5 class="text-uppercase mb-0">attention manufacturers</h5>
            <h4 class="text-uppercase mb-0">get your xxxxxxxxxxxxxxxxx  </h4>
            <h5 class="text-uppercase mb-0">trust certificate & imporve your bussiness</h5>
          </div>
          <div class="col-12 col-sm-3">
            <button class="btn btn-light btn-lg">Apply Now <i class="fas fa-angle-right"></i></button>
          </div>
        </div>
      </div>
      <!-- CTA end -->

      <!-- CTA start -->
      <div class="mt-3">
        <img src="{% static 'images/book-spot.png' %}" class="w-100" alt="">
      </div>
      <!-- CTA end -->
    </div>

    

    <!-- <div class="chat">
      <img src="./images/chat.png" alt="">
      <div class="content">
        <small>Have a Requirement?</small>
        <h3>Get Best Price</h3>
      </div>
    </div> -->

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script>
    {% comment %} document.getElementById('success').disabled = true; {% endcomment %}
    var data={{brand_data|safe}};
    var data_id={{brand_id|safe}};
    var cat_data={{cat_data|safe}};
    var cat_id={{cat_id|safe}};
    console.log(cat_data);
    console.log(cat_id);
    var len=data.length;
    var len_cat=cat_data.length;

    
    fetch_data();
    fetch_data_cat();
//FOR CATEGORY###################################################################
    function fetch_data_cat() {
        if(len_cat<=8 && len_cat>0 )
    {
        for(var i=0;i<len_cat;i++)
        {
        template=`
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[i]}">
                      <label class="custom-control-label" for="category${cat_id[i]}">${cat_data[i]}</label>
                  </div>`
        $("#append_cat").append(template);
        }
        
    }
    else if(len_cat>0 && len_cat>8)
    {
      
      for(var i=0;i<8;i++)
        {
        template=`
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[i]}">
                      <label class="custom-control-label" for="category${cat_id[i]}">${cat_data[i]}</label>
                  </div>`
         $("#append_cat").append(template);
        }
    }
    }
    var temp=0;
    $('#sort_category').click(function(ee){
      ee.preventDefault();
        if(temp==0)
          {
            temp=8;
          }
            if(data.length>8)
            {
              temp=temp;
              var new_temp=temp+4;
              if(new_temp<len_cat)
              {
                for(var i=temp;i<new_temp;i++)
                {
                var template=`<div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[i]}">
                      <label class="custom-control-label" for="category${cat_id[i]}">${cat_data[i]}</label>
                  </div>`
                temp++;
                $("#append_cat").append(template);
                }
              
              }
              else
            {
              for(var i=temp;i<len_cat;i++)
            {
            template=`<div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[i]}">
                      <label class="custom-control-label" for="category${cat_id[i]}">${cat_data[i]}</label>
                  </div>`
            $("#append_cat").append(template);
            temp++;
            }
            ee.preventDefault();
            }
        
        }

    });
    function cat_show_all(){
      
        document.getElementById('append_cat').innerHTML=``;
          for(var i=0;i<len_cat;i++)
        {
        template=`<div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[i]}">
                      <label class="custom-control-label" for="category${cat_id[i]}">${cat_data[i]}</label>
                  </div>`
        $("#append_cat").append(template);
        }
        $("#sort_category").hide();
      }

        function search_cat(){
        document.getElementById('append_cat').innerHTML=``;
        var xx_cat = document.getElementById("search_input_cat").value;
        data1_cat=cat_data;
        data1_cat=data1_cat.map(data1_cat => data1_cat.toLowerCase());
        xx_cat=xx_cat.toLowerCase();
        var indexx_cat=data1_cat.findIndex(element => element.includes(xx_cat));
        console.log(xx_cat.length);
        if(xx_cat.length>0)
        {
          $("#sort_category").hide();

        for(var j=0;j<len_cat;j++)
        {
          if(data1_cat[j].includes(xx_cat))
          {
            template=`<div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[j]}">
                      <label class="custom-control-label" for="category${cat_id[j]}">${cat_data[j]}</label>
                  </div>`
          $("#append_cat").append(template);
          }
        }
        }
        else
        {
          $("#sort_category").show();
          document.getElementById('append_cat').innerHTML=``;
          temp=0;
          fetch_data_cat();
          
        }
      }
      
       $("#success_cat").click(function(e){
         var list_cat = [];
         e.preventDefault();
          $("input:checkbox").each(function(){
          if($(this).is(":checked")){
            list_cat.push($(this).attr("id"));
          }
        })
        console.log(list_cat);
        ajax2(list_cat);
       });
        function ajax2(list_cat){
            $.ajax({
          type:'POST',
          url:'',
          data:{
            'cat[]':list_cat,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        }).done(function() {
  window.location.href="{% url 'product:category' %}";
});
}
// FOR BRAND #################################################################
    function fetch_data(){
    //if list length is less than 8 we assume initially 8 brand will be shown
    if(len<=8 && len>0 )
    {
        for(var i=0;i<len;i++)
        {
        template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()" id="${data_id[i]}">
                <label class="custom-control-label" for="${data_id[i]}">${data[i]}</label>
          </div>`
        $("#append_brand").append(template);
        }
        
    }
     
      // if len of the list is greater than 8 then it will come in eleseif part
    else if(len>0 && len>8)
    {
      
      for(var i=0;i<8;i++)
        {
        template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()" id="${data_id[i]}">
                <label class="custom-control-label" for="${data_id[i]}">${data[i]}</label>
          </div>`
        $("#append_brand").append(template);
        
        }
    }
  }
      
    
var count=0;
$('#sort_brand').click(function(e){
  if(count==0)
  {
    count=8;
  }
   if(data.length>8)
      {
        count=count;
        var new_count=count+4;
        if(new_count<len)
        {
          for(var i=count;i<new_count;i++)
        {
        var template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()" id="${data_id[i]}">
                <label class="custom-control-label" for="${data_id[i]}">${data[i]}</label>
          </div>`
        count++;
        $("#append_brand").append(template);
        }
        e.preventDefault();
        }
        else
        {
          for(var i=count;i<len;i++)
        {
        template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()" id="${data_id[i]}">
                <label class="custom-control-label" for="${data_id[i]}">${data[i]}</label>
          </div>`
        $("#append_brand").append(template);
        count++;
        }
        e.preventDefault();
        }
        
        }
});
      function brand_sow_all(){
        document.getElementById('append_brand').innerHTML=``;
          for(var i=0;i<len;i++)
        {
        template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()" id="${data_id[i]}">
                <label class="custom-control-label" for="${data_id[i]}">${data[i]}</label>
          </div>`
        $("#append_brand").append(template);
        }
        $("#sort_brand").hide();
      }
      function search(){
        document.getElementById('append_brand').innerHTML=``;
        var xx = document.getElementById("search_input").value;
        data1=data;
        data1=data1.map(data1 => data1.toLowerCase());
        xx=xx.toLowerCase();
        var indexx=data1.findIndex(element => element.includes(xx));
        console.log(xx.length);
        if(xx.length>0)
        {
          $("#sort_brand").hide();

        for(var j=0;j<len;j++)
        {
          if(data1[j].includes(xx))
          {
            template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()"  id="${data_id[j]}">
                <label class="custom-control-label" for="${data_id[j]}">${data[j]}</label>
          </div>`
          $("#append_brand").append(template);
          }
        }
        }
        else
        {
          $("#sort_brand").show();
          document.getElementById('append_brand').innerHTML=``;
          count=0;
          fetch_data();
          
        }
      }
       $("#success").click(function(e){
         var list = [];
         e.preventDefault();
          $("input:checkbox").each(function(){
          if($(this).is(":checked")){
            list.push($(this).attr("id"));
            
          }
        })
        console.log(list);
        ajax1(list);
       });
        function ajax1(list){
          console.log(list);
            $.ajax({
          type:'POST',
          url:'',
          data:{
            'brand[]':list,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        }).done(function() {
  window.location.href="{% url 'product:category' %}";
});
        }
      document.getElementById('success').disabled=true;
      document.getElementById('success_cat').disabled=true;
      function is_checked(){
      if ($("#brand_form input:checkbox:checked").length > 0)
      {
        document.getElementById('success').disabled=false;
      }
      
      else
      {
        document.getElementById('success').disabled=true;
      }
       }

       function is_checked_cat(){
      if ($("#cat_form input:checkbox:checked").length > 0)
      {
        document.getElementById('success_cat').disabled=false;
      }
      
      else
      {
        document.getElementById('success_cat').disabled=true;
      }
       }
    </script>
{% endblock content %}