{% extends 'base.html' %}
{% block content %} 
    <div class="page-banner">
        <h1 class="display-5">Management Team</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-3 bg-primary pl-0 pr-0">
          <ul class="nav flex-column pt-3">
              <li class="nav-item"><a class="nav-link" href="about-us.html">XXX Mart</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'dashboard:seller_management' %}">Management Team</a></li>
              <li class="nav-item"><a class="nav-link" href="media-center.html">Media Center</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li> -->
              <li class="nav-item"><a class="nav-link" href="certificate.html">XXXXXXXXX Certificate</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="company.html">E-Shoppe Development</a></li> -->
              <li class="nav-item"><a class="nav-link" href="advertise.html">Adverties Your Brand</a></li>
              <li class="nav-item"><a class="nav-link" href="privacy-policy.html">privacy policy</a></li>
              <li class="nav-item"><a class="nav-link" href="term-condition.html">terms & conditons</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="seller/user.html">edit Profile</a></li> -->
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-9">
          <div class="team">
              <div class="profile">
                  <div class="image">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbmtsouvHnVXr-hFPngW-z7xIDx9t65Ldm6Q&usqp=CAU" alt="">
                  </div>
                  <div class="content">
                      <div class="name">Dinesh Chandra Agarwal</div>
                      <div class="position">Managing Director &amp; Chief Executive Officer</div>
                  </div>
              </div>
              <div class="detail">
                  Dinesh Agarwal is the Managing Director &amp; Chief Executive Officer of our company. He studied at Maharaja Agrasen Vidyalaya Inter College, Lucknow and acquired his B.Tech engineering degree with a specialization in computer science from the Harcourt
                  Butler Technological Institute, Kanpur. He has previously worked with Hindustan Management and Technical Services Private Limited, HCL America, Inc., HCL Limited, HCL Hewlett-Packard Limited, Centre for Development of Telematics (C-Dot)
                  and CMC Limited. Dinesh has led various revolutionary ideas to promote and help Indian SMEs worldwide and has raised voice on multiple concerns like GST, taxation, infrastructure, power, technology, etc. Dinesh is a prolific investor and
                  has invested in a large number of start-ups. He is a Member of the Governing Council of Internet and Mobile Association of India (IAMAI) from 2015 till present. From 2017, he has also been actively associated with the Indus Entrepreneur
                  (TiE) and serves on the Advisory Committee of Amity International Business School.
              </div>
          </div>
          <div class="team">
              <div class="profile">
                  <div class="image">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Placeholder_Person.jpg" alt="">
                  </div>
                  <div class="content">
                      <div class="name">Brijesh Kumar Agrawal</div>
                      <div class="position">Whole-Time Director</div>
                  </div>
              </div>
              <div class="detail">
                  Brijesh is a graduate in business management from University of Lucknow and NIILM, Delhi. Over the last 23 years, he has been focused on building an eco-system that powers the growth of MSMEs in India. He is a charter member of TiE-Delhi NCR & a Founder
                  Trustee at Plaksha University.
              </div>
          </div>
          <div class="team">
              <div class="profile">
                  <div class="image">
                      <img src="https://www.clipartmax.com/png/middle/144-1442578_flat-person-icon-download-dummy-man.png" alt="">
                  </div>
                  <div class="content">
                      <div class="name">Dinesh Gulati</div>
                      <div class="position">Chief Operating Officer</div>
                  </div>
              </div>
              <div class="detail">
                  Dinesh has acquired his MBA from Faculty of Management Studies (FMS), Delhi University, after completing his B. Tech from Kanpur University. He has a strong track record of building brands from inception to full-blown profitable businesses in the field
                  of e-commerce, telecom, FMCG and media. Prior to joining IndiaMART, he has served as Group President at The Indian Express Ltd –a leading media house of the country. With a vast experience of entrepreneurship spanned over 25 years, he
                  has also worked as Regional CEO with Reliance Communications and at many other senior positions with leading brands like Bharti Airtel, Etisalat DB Telecom, Kodak India Ltd.
              </div>
          </div>
          <div class="team">
              <div class="profile">
                  <div class="image">
                      <img src="https://thumbs.dreamstime.com/b/vector-illustration-avatar-dummy-logo-set-image-stock-isolated-object-icon-collection-137161298.jpg" alt="">
                  </div>
                  <div class="content">
                      <div class="name">Amrita Singh Dhaliwal</div>
                      <div class="position">Chief Product Officer</div>
                  </div>
              </div>
              <div class="detail">
                  Amrita received his Graduate degree from IIT Delhi and Post Graduate in Management from IIM Ahmedabad. An adventurer, intrapreneur and entrepreneur, he is passionate about building consumer stories at the confluence of product, technology, design and
                  marketing. He has held several leadership roles and has been a part of the Times of India Group, Micromax, SBI Capital Markets and Powergen Plc. He was the co-founder and CEO of DONE BY NONE, a founder business head for Zigwheels.com,
                  and a business head for Indiatimes Shopping.com.
              </div>
          </div>
          <div class="team">
              <div class="profile">
                  <div class="image">
                      <img src="https://www.clipartmax.com/png/middle/144-1442578_flat-person-icon-download-dummy-man.png" alt="">
                  </div>
                  <div class="content">
                      <div class="name">Manoj Bhargava</div>
                      <div class="position">Senior Vice President (Legal and Secretarial) Company Secretary and Compliance Officer</div>
                  </div>
              </div>
              <div class="detail">
                  Manoj holds a bachelor’s degree in commerce (honours) and a bachelor’s degree in law from University of Delhi, and a master’s degree in law from Guru Gobind Singh Indraprastha University, Delhi. He also holds a postgraduate diploma in intellectual property
                  rights law from the Indian Law Institute and a postgraduate diploma in cyber laws from Amity Law School, New Delhi. He is also a qualified company secretary. He has experience in legal and corporate secretarial function. He has previously
                  been associated with Capital Cars Private Limited, Integrated Databases India Limited (India Today group), Barista Coffee Company Limited, Varun Beverages Limited and HT Media Limited.
              </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}